<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Candidates</title>
        <link rel="stylesheet" href="../static/css/addCandidates.css">
    </head>
    <body>
        <h1>Add Candidate</h1>
        <div class="candidateSlot">
            <form id="candidate-form" class="candidate-form" action="" method="POST" enctype="multipart/form-data">
                <fieldset>
                    <legend>Candidate 1</legend>
                    <div class="candidate">
                        <div class="information">
                            <label for="name">Candidate Name:</label><br>
                            <input type="text" required id="name"><br><br>

                            <label for="description">Candidate Description:</label><br>
                            <textarea 
                            id="description" 
                            name="description" 
                            rows="5" 
                            cols="40" 
                            placeholder="Enter detailed description here..." 
                            required
                            ></textarea><br>
                        </div>

                        <div class="preview-box">
                            <label for="image_input">Select Candidate Image:</label><br>
                            <input type="file" id="candidate1-input" name="image" accept="image/*" required><br><br><br>

                            <span id="placeholder" class="placeholder-text">No Image Selected</span><br>
                            <img id="imagePreview" alt="Candidate Image Preview"><br><br><br>
                        </div>
                    </div>

                    <button type="button">Add Candidate To Election</button>

                </fieldset>

                <fieldset>
                    <legend>Candidate 2</legend>
                    <div class="candidate">
                        <div class="information">
                            <label for="name">Candidate Name:</label><br>
                            <input type="text" required id="name"><br><br>

                            <label for="description">Candidate Description:</label><br>
                            <textarea 
                            id="description" 
                            name="description" 
                            rows="5" 
                            cols="40" 
                            placeholder="Enter detailed description here..." 
                            required
                            ></textarea><br>
                        </div>

                        <div class="preview-box">
                            <label for="image_input">Select Candidate Image:</label><br>
                            <input type="file" id="candidate1-input" name="image" accept="image/*" required><br><br><br>

                            <span id="placeholder" class="placeholder-text">No Image Selected</span><br>
                            <img id="imagePreview" alt="Candidate Image Preview"><br><br><br>
                        </div>
                    </div>

                    <button type="button">Add Candidate To Election</button>

                </fieldset>

                <fieldset>
                    <legend>Candidate 3</legend>
                    <div class="candidate">
                        <div class="information">
                            <label for="name">Candidate Name:</label><br>
                            <input type="text" required id="name"><br><br>

                            <label for="description">Candidate Description:</label><br>
                            <textarea 
                            id="description" 
                            name="description" 
                            rows="5" 
                            cols="40" 
                            placeholder="Enter detailed description here..." 
                            required
                            ></textarea><br>
                        </div>

                        <div class="preview-box">
                            <label for="image_input">Select Candidate Image:</label><br>
                            <input type="file" id="candidate1-input" name="image" accept="image/*" required><br><br><br>

                            <span id="placeholder" class="placeholder-text">No Image Selected</span><br>
                            <img id="imagePreview" alt="Candidate Image Preview"><br><br><br>
                        </div>
                    </div>

                    <button type="button">Add Candidate To Election</button>

                </fieldset>

                <fieldset>
                    <legend>Candidate 4</legend>
                    <div class="candidate">
                        <div class="information">
                            <label for="name">Candidate Name:</label><br>
                            <input type="text" required id="name"><br><br>

                            <label for="description">Candidate Description:</label><br>
                            <textarea 
                            id="description" 
                            name="description" 
                            rows="5" 
                            cols="40" 
                            placeholder="Enter detailed description here..." 
                            required
                            ></textarea><br>
                        </div>

                        <div class="preview-box">
                            <label for="image_input">Select Candidate Image:</label><br>
                            <input type="file" id="candidate1-input" name="image" accept="image/*" required><br><br><br>

                            <span id="placeholder" class="placeholder-text">No Image Selected</span><br>
                            <img id="imagePreview" alt="Candidate Image Preview"><br><br><br>
                        </div>
                    </div>

                    <button type="button">Add Candidate To Election</button>

                </fieldset>

                <fieldset>
                    <legend>Candidate 5</legend>
                    <div class="candidate">
                        <div class="information">
                            <label for="name">Candidate Name:</label><br>
                            <input type="text" required id="name"><br><br>

                            <label for="description">Candidate Description:</label><br>
                            <textarea 
                            id="description" 
                            name="description" 
                            rows="5" 
                            cols="40" 
                            placeholder="Enter detailed description here..." 
                            required
                            ></textarea><br>
                        </div>

                        <div class="preview-box">
                            <label for="image_input">Select Candidate Image:</label><br>
                            <input type="file" id="candidate1-input" name="image" accept="image/*" required><br><br><br>

                            <span id="placeholder" class="placeholder-text">No Image Selected</span><br>
                            <img id="imagePreview" alt="Candidate Image Preview"><br><br><br>
                        </div>
                    </div>

                    <button type="button">Add Candidate To Election</button>

                </fieldset>
                <button type="submit" id="submitBtn">Submit Election</button>
            </form>
        </div>
    </body>

</html>