<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Dashboard</title>
        <link rel="stylesheet" href="../static/css/adminDashboard.css">
    </head>
    <body>
        <h1>Admin Dashboard</h1>
        <button class="logout" type="button">Logout</button><br>
        <button class="add" type="button"><p>CREATE ELECTION</p><img src="../static/uploads/adminAdd.png" alt="Adding Election"><p>Set up a new voting environment</p></button>
        <button class="view" type="button"><p>VIEW RESULTS</p><img src="../static/uploads/adminView.png" alt="Adding Election"><p>Analyze voting data and tallies</p></button>
    </body>

</html>