<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page</title>
        <link rel="stylesheet" href="../static/css/login.css">
    </head>
    <body>
        <div class="login-container">     
            <img class="login-image" src="../static/uploads/votingPeople.png" alt="Login Picture">
            <div class="form-wrapper">
                <h1>LOGIN</h1>
                <form method="POST" id="loginPage" action="">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required><br>
                    <hr>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required><br>
                    <hr>
                    <button type="submit">Login</button>
                    <hr>
                    <p>Not signed in? <a href="./Signup.html">Register Now</a></p>
                </form>
            </div>
        </div>
    </body>
    

</html>