<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forgot Password</title>
        <link rel="stylesheet" href="../static/css/login.css">
    </head>
    <body>
        <div class="login-container">     
            <div class="form-wrapper">
                <h1>Reset Password</h1>
                <form method="POST" id="resetPage" action="">
                    <p id="errorMessage"></p><br>
                    <hr>
                    <label for="password">New Password:</label>
                    <input type="password" id="password" name="password" required><br>
                    <hr>
                    <label for="confirm_password">Confirm Password:</label>
                    <input type="password" id="confirm_password" name="confirm_password" required><br>
                    <hr>
                    <button type="submit">Reset</button>
                    <hr>
                </form>
            </div>
        </div>
        <script src="../static/js/reset_password.js"></script>
    </body>
    
</html>